.password-input-widget .password-rule-bars {
	 margin: 10px -5px;
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between;
}
 .password-input-widget .password-rule-bars .password-rule-bar {
	 background-color: #f4f4f4;
	 height: 4px;
	 flex: auto;
	 margin: 0 5px;
}
 .password-input-widget .password-rule-bars .password-rule-bar.matches {
	 background-color: green;
}

 .password-input-widget .password-rule-texts .password-rule-text.matches {
	 color: green;
}
 .password-input-widget .password-rule-texts  {
	 color: red;
}
  